<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
    <appSettings>
	    <add key="ListOrderAPI" value="https://app.logiwa.com/en/api/IntegrationApi/WarehouseOrderSearch" />
		<add key="GetTokenAPI" value="https://app.logiwa.com/token" />
		<add key="ContractBillingReportAPI" value="https://app.logiwa.com/en/api/IntegrationApi/WarehouseContractBillingReport" />
		<add key="TransactionHistoryAPI" value="https://app.logiwa.com/en/api/IntegrationApi/TransactionHistoryReportSearch" />
	    <add key="Body" value="{ &quot;WarehouseID&quot;:&quot;571&quot;,
                                 &quot;IsGetOrderDetails&quot;: true,
                                 &quot;OrderDate_Start&quot;: &quot;01.01.2022 00:00:00&quot;,
                                 &quot;OrderDate_End&quot;: &quot;03.11.2023 23:59:59&quot;,
                                 &quot;PageSize&quot;: 200,
                                 &quot;SelectedPageIndex&quot;: 0
                                }" />
	    <add key="Authorization" value="Bearer SCsjW62DVA9nsSN34gfo25GskdtzgjemfJle1pIXoI7IWOzc3QsseRfI2Ok4SxKqFLf_z6_4R6EyV3azTJoKbu9IM5mEiz___6rjuGAJDgzrD5fcQSo26qRlXdCWiNJsCt99ucjx5QeWL0nori1zSompD59pyH8MW-TFiOkVGjDgsTzw4vjqVKn96jlE18xwGD0jq4yahWH_fehC2MuuxtJLCQLSjrULY8bV2CfdXl_3vsfb8GLqFWcU6nDnLvaz9BKUsHBGrA9j_ydzZNAqf5FoPAX7VLscUGt1pcSRZi_blt9T6CYF52PoUOZ-j3_ee8463_aXk0GKGwQ-x-VZeyzU1mAeQumtZdGQOY3G3fKtIsyqXTRTahHy81ucVUybMdZejGnpz61FfX9OEpSRbABDjIY8VIeEMA2Du1H4E-R_n0NglyvfsGTgM1OQpksWIN5iTlxPlL7onkvkFsnkAJqNGOUK2-CWOdtcryPmqtZ8_d6XzJ9VBPnc945Y0PTe" />
	    <add key="ConnectionString" value="Data Source=spectrumsolutions.withoutwire.com;Initial Catalog=Logiwa;User ID=wwire_user;Password=buckyboy"/>
		<add key="grant_type" value="password"/>
		<add key="username" value="api@spectrumsolution.com"/>
		<add key="password" value="U18zq$J8"/>
    </appSettings>
</configuration>